@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform:  scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform:  scale(0.95);
    }

}

.modal-content-animation {
    animation: fadeIn 0.2s ease-out forwards;
}

.modal-content-out {
    animation: fadeOut 0.2s ease-out forwards;
}
